<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Our Blogs Page!!</h1>
             <% if(currentUser && currentUser.isAdmin){ %>
             <p>
                <a class="btn btn-primary btn-large" href="/blogs/new">Add New Blog</a>
             </p>
             <% } %>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% blogs.forEach(function(item){ %>
            <div class="col-md-3 col-sm-6">
                <div id="displayThumbnails" class="thumbnail">
                   <% if(!item.image) { %>
                    <img id="displayImages" class="img-thumbnail" id="noimage" src="/blog_images/noimage.png">
                   <% } else {%>
                    <img id="displayImages" class="img-thumbnail" src="/blog_images/<%= item._id %>/<%= item.image %>">
                   <% }%>
                   <div class="caption">
                       <h4><%= item.name %></h4>
                   </div>
                   <p>
                       <a href="/blogs/<%= item._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>