<% include ./partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.min.css">
 <div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">Contact us and we'll get back to you within 24 hours.</h2>
      <div class="col-lg-8">
      <ul style="list-style-type:none">
      <li><i class="fa fa-envelope fa-lg"></i>  imperfectngo@gmail.com</li>
      <li><i class="fa fa-phone fa-lg"></i>  +91 8448821590, +91 8448821589</li>
      <li><i class="fa fa-facebook-f fa-lg"></i>  facebook.com/imperfectngo</li>
      <li><i class="fa fa-twitter fa-lg"></i>  twitter.com/imperfectngo</li>
      <li><i class="fa fa-instagram fa-lg"></i>  instagram.com/imperfectngo</li>
      </ul>
      </div>
    </div>
</div>
<% include ./partials/footer %>