<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
<% include ./partials/header %>

<br>
	   <div class="col-sm-12" >
    <h3 style="color:green; text-align: center">Mr. Imamul</h3>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: lig">
       
I had joined the organization because of two things. First, I wanted to serve the society, wanted to do something in return for all the good I’ve been and still receiving from the society. 
Secondly, I wanted to learn things on my own, since the organization is new and has only young members so it fulfills my need. I’ve learnt many things from their 4 projects. One particular moment in the day spent in orphanage was really moving. When I was singing and playing the guitar a small girl came and sat near me. She was staring at me and the guitar in amusement. I felt happy. But later I got to know that the girl was deaf and dumb and she was found on the doorstep of the church when she was 3 months old. Clearly her parents had no idea how to raise her, or simply were economically backward.
There were girls who go to school and are very good in science and math. There were several other incidences that shake you from inside. After all this I’ve pledged myself to keep working for the betterment of the society and help people as much as possible. As I believe that helping people is the only way to keep ourselves happy
</p></div>

<% include ./partials/footer %>
</body>
</html>