<DOCTYPE!html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
<% include ../partials/header %>
 
      <br><br><br><br><br>
	   <div class="col-sm-12" >
    <h3 style="color:green; text-align: center">WHO ARE WE</h3>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: lig">
        Imperfect Ngo is an idea that keeps on reminding us that we are meant
        to live our lives for serving fellow beings. We believe that you, me, he
        and she, rich, poor, capable and incapable holds an equal opportunity,
        equal rights and benevolence of equality. Through this belief and the
        dedication of volunteers, team is ready to bring the change in our
        society. Our major work area is serving society through, Education,
        Human Rights, Women empowerment and Social Awareness.
        Our volunteers and supporters play a great role in spreading our
        message to initiate collective efforts to uplift and impact lives.
        
        We started our journey in April 2017. First thing we received was love
        from people around us. Then, uncountable blessings, support and more
        and more hands to make the bond stronger.</p>  </div>  </div>
	  </div>
	 
  <div class="row">
    <div id="myid" class="col-sm-6" >
      <br><br>
    <h4 style="color:green; text-align: center">Mission</h4>
    <p style="text-align: center; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
   <ul style="list-style-type:circle">
              <li>To aware people about their rights &amp; duties</li>
              <li>To spread the message of love, peace &amp; togetherness among all</li>
              <li>To redefine the social service through impactful projects and
                initiatives.</li>
        </ul> 	
	 </div>
    <div id="myid" class="col-sm-6" >
          <br><br>
    <h4 style="color:green; text-align: center">Vision</h4>
    <p style="text-align: justify; padding-left: 30px; padding-right: 30px; padding-top: 20px; color: black">
       <ul style="list-style-type:circle">
            <li>To achieve sustainable development, peace &amp; equality among
            everyone by creating an environment where all are together for
            each other.</li>
        </ul>  </div>
	<div id="myid" class="col-sm-12" >
	  <br><br>
<% include ../partials/footer %>
</div>
</body>
</html>



