#displayImages{
    height: 350px;
    width: 350px;
    margin-bottom: 15px;
}
#displayThumbnails{
    height: 550px;
}
#memberThumbnail{
    height: 100%;
    display: inline-block;
}
#displayMemberImage{
    margin-bottom: 12px;
    height: 300px;
    width: 300px;
}
#footStyle{
    margin-top: 3px;
    margin-bottom: 0px;
    margin-right: auto;
}
ul.gallery li {
    margin: 20px;
    display: inline-block;
    list-style: none;
}

#noimage {
    width: 100px;
    height: 100px;
}